const mineflayer = require('mineflayer')

module.exports = {
    name: '',
    description: '',
    /**
     * 
     * @param {mineflayer.Bot} bot 
     * @param {String} user 
     * @param {String} msg 
     * @param {String[]} args 
     */
    async run(bot, user, msg, args) {

    }
}